.container {
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  height: 79px;
  /* padding-right: 22px; */
  width: 33%;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}

.tabsWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
}

.tabItem {
  list-style: none;
  padding-bottom: 6px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabItem img {
  height: 40px;
  width: 40px;
}

.tabItem p {
  font-size: 14px;
  margin-top: 6px;
  font-weight: 700;
  color: black;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  .tabsWrapper {
    width: 100%;
  }

  .tabItem p {
    font-weight: 700;
    color: black;
  }

  .tabItem img {
    height: 30px;
    width: 30px;
    /* border-radius: 15px; */
  }
}
