.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.createbutton {
  padding: 10px 20px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-size: 23px;
}

.hotelcontainer {
  width: 40%;
  padding: 10px;
}

.peoplecontainer {
  width: 10%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: transparent;
}

.dayscontainer {
  width: 40%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: transparent;
}

.text {
  text-align: left;
  color: gray;
}

.calender {
  position: absolute;
  top: 50px;
  left: 300px;
  height: 300px;
  width: 500px;
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
  }

  .hotelcontainer,
  .dayscontainer,
  .peoplecontainer {
    margin-top: 10px;
  }

  .createbutton {
    width: 100%;
    margin-top: 10px;
  }
}
