.profileContainer {
  display: flex;
  background-color: white;
  margin: 0 auto;
  margin-top: 120px;
  padding: 30px 60px;
  max-width: 1200px;
  border-radius: 10px;
}

.profileContainer > div {
  display: flex;

  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileContainer > div:first-child > h1 {
  color: rgba(0, 0, 0, 0.555);
  font: 500 2.2vmax;
  /* transform: translateX(-10vmax) translateY(-2vmax); */
}

.profileContainer > div:first-child > img {
  width: 14vmax;
  border-radius: 100%;
  transition: all 0.5s;
  height: 14vmax;
  margin-top: 30px;
}

.profileContainer > div:first-child > img:hover {
  transform: scale(1.05);
}

.profileContainer > div:first-child > a {
  border: none;
  background: linear-gradient(to bottom left, #3a98e6 20%, #0039a6 100%);
  font-weight: 500;
  font: 400 1vmax;
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  width: 30%;
  margin: 4vmax;
  text-align: center;
  transition: all 0.5s;
  border-radius: 10px;
}

.profileContainer > div:first-child > a:hover {
  background-color: rgb(204, 78, 56);
}

.profileContainer > div:last-child {
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5vmax;
  box-sizing: border-box;
}

.profileContainer > div:last-child > div > h4 {
  color: black;
  font: 400 1.2vmax;
}

.profileContainer > div:last-child > div > p {
  color: rgba(0, 0, 0, 0.418);
  font: 400 1vmax;
  margin: 0.2vmax;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.profileContainer > div:last-child > div:last-child > a {
  border: none;
  background: linear-gradient(to bottom left, #3a98e6 20%, #0039a6 100%);
  font-weight: 500;
  font: 400 1vmax;
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  text-align: center;
  transition: all 0.5s;
  margin: 1vmax 0;
  border-radius: 10px;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: #ef6c00;
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
    top: 15%;
    padding-bottom: 100px;
  }

  .profileContainer > div:first-child > h1 {
    font: 500 3.2vmax;
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax;
    padding: 1vmax;
    width: auto;
  }

  .profileContainer > div:last-child {
    text-align: center;
    align-items: center;
    padding: 2vmax 0;
  }

  .profileContainer > div:last-child > div > h4 {
    font: 400 2.5vmax;
  }

  .profileContainer > div:last-child > div > p {
    font: 400 2vmax;
    margin: 0.5vmax 0;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font: 400 1.8vmax;
    padding: 1vmax;
    margin: 2vmax 0;
  }
}
